.patients-box {
  grid-column: col-start 2 / span 1;
  grid-row: col-start 1 / span 1;
  justify-self: center;
  align-self: center;
}

.appointments-box {
  margin-top: 40px;
  grid-column: col-start 3 / span 1;
  grid-row: col-start 1 / span 1;
  justify-self: center;
  align-self: center;
}
