.patients-list-container{
    height: 400px;
    width: 400px;
    background-color: white;
    box-shadow: 0 7px 15px rgba(0, 0, 0, .6);
    border-radius: 10%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    position: relative;
}

.patients-list-container h1 {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}



::-webkit-scrollbar {
    display: none;
}

.each-patient.empty {
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    margin-left: 20px;
}


.each-patient{
    height: 60px;
    width: fit-content;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #F5ECF7;
    margin-left: 40px;
    margin-top: 15px;
    box-shadow: 0 2px 5px rgba(101, 100, 100, 0.6);
    text-align: center;
}



/* .each-patient img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 10px;
} */

.each-patient h2 {
    color: black;
    font-weight: 20px;
}


.each-patient p {
    color: #A266B5;
    font-size: 20px;
}

.see-all {
position: absolute;
bottom: 30px;
right: 30px;
}