.profile {
  height: 500px;
  width: 400px;
  background-color: white;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.6);
  border-radius: 10%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.about-patient {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .profile-pic {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
} */

.about-patient h1 {
  margin-top: 10px;
}

.general-info h2 {
  margin-top: 40px;
  margin-left: 50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.general-info p {
  margin-top: 10px;
  margin-left: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 40px;
  margin-left: 50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.checkup h4 {
  margin-top: 40px;
  margin-left: 50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.checkup-container {
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #f0f6fc;
  margin-left: 10px;
  box-shadow: 0 2px 5px rgba(101, 100, 100, 0.6);
  margin-left: 50px;
}
