html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}


.appointment-list-container {
    height: 700px;
    width: 500px;
    border-radius: 10%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    margin-left: 700px;
    margin-top: 50px;
}

/* .main-page{
max-height: 100vh;
} */

::-webkit-scrollbar {
    display: none;
}


.appointment-list-container h2 {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.appoinment-list{
    margin-top: 20px;
    height: fit-content;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #F5ECF7;
    margin-left: 20px;
    box-shadow: 0 2px 5px rgba(101, 100, 100, 0.6);
    display: flex;
    flex-direction: row;
    align-items: center;
}


.each-appointment h2 {
    color: black;
    font-weight: 20px;
}


.each-appointment p {
    color: #A266B5;
}



.each-appointment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#appointment-vector{
z-index: 2;
margin-top: -500px;
}