

.my-patients-h2{
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    font-size: 35px;
}

.all-patients{
    height: 500px;
    width: 700px;
    margin-left: 600px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    position: relative;
}




/* ::-webkit-scrollbar{
    display: none;
    } */



.each-patient-profile{
    height: fit-content;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: #F5ECF7;
    margin-left: 20px;
    margin-top: 30px;
    box-shadow: 0 2px 5px rgba(101, 100, 100, 0.6);
    display: flex;
    flex-direction: column; 
    margin-left: 50px;
    position: relative;

} 

.each-patient-profile #name{
font-weight: bold;
color: #1F4F5B;
font-size: 25px;
}

.button-see-patient{
position: absolute;
bottom: 30px;
right: 30px;
}