/* Profile */

.doctor-patients-container {
  position: relative;
  height: 80vh;
}
.doctor-patients-container h3,
.add-info-container h3 {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

/* Notes */

.notes-container {
  height: 35vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

/* My patients */
.each-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
  overflow-x: scroll;
  width: 100%;
  margin: 0.5rem 0;
}

.btn-see-all {
  display: flex;
  align-self: self-end;
}

.btn-add-info {
  display: flex;
  align-self: center;
}

.add-info-container {
  /* height: 35vh; */
  flex-wrap: wrap;
  overflow-y: scroll;
}
/* My appointments */

.each-item-appointments {
  justify-content: space-between;
}

.time-of-appointment {
  font-weight: bold;
  font-size: 1.2rem;
}

.attend-btn {
  cursor: pointer;
  font-size: 1.5rem;
}

/* Appointments */

.all-patients {
  height: 100vh;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  position: relative;
}

.each-patient-profile {
  height: fit-content;
  width: 50vw;
  padding: 1.5rem;
  border-radius: 2%;
  background-color: #f5ecf7;
  margin: 1rem 1rem;
  box-shadow: 0 2px 5px rgba(101, 100, 100, 0.6);
  display: flex;
  flex-direction: column;
}

.each-patient-profile p:first-child {
  font-weight: bold;
  color: #1f4f5b;
  font-size: 1.5rem;
}

.each-patient-profile span {
  font-weight: bold;
  font-size: 1.1rem;
}

.button-see-patient {
  display: flex;
  align-self: self-end;
}

.male-doctor {
  position: absolute;
  display: none;
  z-index: 1;
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 600px) {
  .appointment-list-container .male-doctor {
    display: flex;
  }
}

.button-and-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-and-title button {
  margin-left: 1rem;
  align-self: flex-start;
  font-size: 1.3rem;
}

/* My appointments */

.all-patients {
  height: 100vh;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  position: relative;
}

.appointment-list-container {
  margin: 1rem 1rem 1rem 35rem;
  text-align: justify;
}

.about-user-appointment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.each-appointment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.previous-appointments {
  background-color: #1f4f5b;
}

.previous-appointments p,
.previous-appointments h3 {
  color: #f5ecf7;
}

.previous-appointments p:first-child {
  font-weight: bold;
  color: #f5ecf7;
  font-size: 1.5rem;
}
