/* -------- Main page -------- */
@media (min-width: 700px) {
  .grid-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-home .home-right,
  .grid-home .home-right-image {
    display: flex;
    /* align-items: center; */
  }
  .grid-users{
    background-color: white;
  }
}

.home-right {
  display: none;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background-color: var(--primary);
}

.home-right-image {
  display: none;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 2rem;
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 2rem;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 2rem 4rem;
}

@media (max-width: 900px) {
  .home-text {
    padding: 2rem;
  }
  .grid-users{
    background-color: white;
  }
}

.home-btns {
  margin-top: 2rem;
  display: flex;
  /* justify-content: center;
  justify-items: center; */
}

.home-left h2 {
  font-size: 1.2rem;
  text-align: left;
}

/* -------- Users -------- */

@media (min-width: 700px) {
  .grid-users {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(3, 1fr);
  }
}


.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.users .users-left {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.grid-home .home-right-image img {
  border-radius: 100%;
}

.home-right-image {
  display: flex;
  align-self: center;
}


.about-info {
  display: flex;
  justify-content: center;
}

.about-doccare {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem 0;
  height: auto;
  margin: 1rem 0;
  width: 60%;
  border-radius: 10px;
  background-color: #a266b5;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(101, 100, 100, 0.6);
}

.about-doccare h2 {
  color: white;
  margin: 0.7rem;
  padding-bottom: 0.5rem;
  flex-shrink: 0;
}

.about-doccare p {
  color: white;
  margin: 0.7rem;
  width: 100%;
  font-size: 1.2rem;
  flex-shrink: 1;
}

@media (max-width: 500px) {
  .grid-users{
    background-color: white;
  }
}