/* ------------------ Global Patient ------------------ */

h2,
h3,
p {
  color: black;
}

h2 {
  font-size: 30px;
}

h3 {
  font-weight: 500;
}

/* ------------------ Appointment Dashboard ------------------  */

@media only screen and (min-width: 800px) {
  .make-appointment-container .appointment-button {
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .make-appointment-container .female-doctor {
    display: flex;
  }

  .make-appointment-container h2 {
    margin-left: 18rem;
  }

  .appointment-description {
    margin-left: 18rem;
    display: flex;
    align-items: center;
  }
}

.make-appointment-container h2 {
  margin-top: 3rem;
}

.appointment-description {
  margin-top: 1.3rem;
  display: flex;
  align-items: center;
}

.appointment-button {
  display: flex;
  justify-content: flex-end;
}

.patient-appointment-main {
  height: 100vh;
}

.make-appointment-container {
  display: flex;
  flex-direction: column;
}

.female-doctor {
  position: absolute;
  display: none;
  z-index: 1;
  bottom: 0;
}

.radio-form {
  margin-bottom: 0.5rem;
}

/* ------------------ Dashboard ------------------ */

/* -------- Profile --------  */

.patient-info h3,
.prescriptions-container h3,
.appointment-box h3,
.doctor-list-box h3,
.messages-container h3 {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.patient-info p {
  margin-top: 0.3rem;
}

.each-illness {
  display: flex;
  flex-wrap: wrap;
}

.date {
  font-weight: bold;
  color: #397b6e;
}

/* --------  Medications --------  */

.prescriptions-container {
  height: 35vh;
  flex-wrap: wrap;
  overflow-y: scroll;
}

@media (max-width: 600px) {
  .each-medication-container {
    width: 20vw;
  }
}

.each-medication-container {
  color: #d7b765;
  width: 5vw;
  height: 5vw;
  background-color: #fbf9f1;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 0.1rem;
}

/* --------  List of doctors --------  */

.list-container {
  height: 35vh;
}

.list {
  height: fit-content;
  margin: 1rem 0;
  max-height: 35vh;
  overflow-x: scroll;
  width: 100%;
  border-radius: 10px;
  background-color: #f5ecf7;
  padding: 0.5rem;
  box-shadow: 0 2px 5px rgba(101, 100, 100, 0.6);
}

.each-doctor img {
  display: flex;
  align-items: center;
  object-fit: cover;
  border-radius: 50%;
  margin: 0.5rem 0 0 0.2rem;
}

.each-doctor-name p {
  color: #a266b5;
}

/* --------  List of appointments --------  */

.appointment-container {
  height: 35vh;
}

.scroll-y {
  overflow-y: scroll;
}

.each-appointment {
  display: flex;
  align-items: center;
  background-color: #f0f6fc;
}

.each-appointment img {
  width: 5vw;
  margin-right: 0.2rem;
}

/* --------  Messages --------  */

.messages-container-start-chat {
  height: 35vh;
  background-color: #f5ecf7;
}

.messages-container {
  height: 10vh;
  background-color: #f5ecf7;
}

.messages-container h3 {
  cursor: pointer;
}

.messages-container-top {
  height: 70%;
  width: 90%;
  /* margin: 0; */
  overflow-y: auto;
}

.messages-container-bottom {
  height: 30%;
  width: 90%;
  border-radius: 2%;
  background-color: #a266b5;
  /* margin: 0; */
  display: flex;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-message {
  position: relative;
  padding: 1rem;
  margin: 1rem 0.5rem;
  border-radius: 10px;
  display: flex;
}

.patient-message {
  background-color: #f0f6fc;
  text-align: left;
  align-self: flex-end;
  width: 50%;
}

.patient-message p {
  color: var(--primary);
}

.junior-doctor-message {
  background-color: var(--primary);
  text-align: right;
  align-self: flex-start;
  width: 50%;
}

.junior-doctor-message p {
  color: #f0f6fc;
}

.chat-input {
  width: 100%;
  border-radius: 10px;
  padding: 0 0.5rem;
  background-color: #a266b5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.chat-input input {
  background-color: #a266b5;
  padding: 0.2rem;
  border: none;
  min-width: 0.5vw;
  outline: none;
  color: white;
}

input::placeholder {
  color: white;
}

.send {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3rem;
  border-radius: 50%;
  background-color: #d4a8fd;
  padding: 0.8rem;
  border: none;
  cursor: pointer;
}

/* ------------------ Available doctors ------------------ */

@media only screen and (min-width: 600px) {
  main .doctors-list {
    width: 60vw;
    margin-right: 2rem;
  }
}

.doctors-list {
  height: fit-content;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2%;
  background-color: #f5ecf7;
  box-shadow: 0 2px 5px rgba(101, 100, 100, 0.6);
}

.each-doctor {
  display: flex;
  align-items: center;
}

.slots {
  display: flex;
  flex-wrap: wrap;
}



/* ------------------  Confirmation Page  ------------------ */

.confirmation-heading {
  margin-left: 2rem;
  margin-top: 2rem;
}


.confirmation-info {
  margin-left: 2rem;
  margin-top: 2rem;
  height: fit-content;
  max-height: 35vh;
  width: fit-content;
  border-radius: 10px;
  background-color: #f5ecf7;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(101, 100, 100, 0.6);
}

.confirmation-info h2 {
  font-size: 1.5rem;
}