.profile-image-patient {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-top: 70px;
    margin-left: 90px;
    position: relative;
}


/* .all-info-about-patient{
    position: absolute; 
    top: 130px; 
    left: 700px;
} */


.main-info-patient {
    position: absolute;
    top: 180px;
    left: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-info-patient #name {
    font-size: 30px;
    color: black;
}


.main-info-patient #age {
    font-size: 20px;
    color: black;
}

.main-info-patient #gender {
    font-size: 20px;
    color: black;
}

.main-info-patient #DOB {
    font-size: 15px;
    color: black;
}


.phone-call {
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.mail-to {
    display: flex;
    align-items: center;
  }
  

  .mail-to #icon-mail{
   margin-right: 100px;
  }

  