
.icon {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-top: 20px;
}

.appoitment-heading {
    color: black;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 50px;
    margin-left: 260px;
}

.Consultation-1{
margin-left: 260px;
margin-top: 20px;
display:flex;
flex-direction: row;
align-items: center;
}


.Consultation-1 p{
width: 400px;
}

.Doctor-2{
margin-left: 260px; 
margin-top: 20px; 
display:flex;
flex-direction: row;
align-items: center;
}

.Doctor-2 p{
width: 400px;
}


.Solution-3{
margin-left: 260px;  
margin-top: 20px;
display:flex;
flex-direction: row;
align-items: center;
}

.Solution-3 p{
width: 400px;
}


h2{
color: black;
font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
}

.steps{
z-index:2;
}

.female-doctor{
z-index:1;
width: 400px; 
margin-top: -180px;
}


.patient-appoitment-main{
height:100vh;
}


.form-appoitment{
margin-left: 800px;
margin-top: -400px;
}