.grid-container{
  display: grid;
  grid-template-columns: repeat(3, [col-start] 1fr);
}


.profile-box{
grid-column: col-start 1/ span 1;
}


.prescriptions-box{
  grid-column:  col-start 3/ span 1;;
}

.appoitment-box{
  grid-column:  col-start 3/ span 1;
}

.doctor-list-box{
 grid-column:col-start 2/ span 1;
}