html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}






/* CHAT-BOX  */


.messages-container-juniorDoctor{
  padding: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 700px;
  display: grid;
  grid-template-columns: repeat(5, [col-start] 1fr);
}

.discussions {
  grid-column: col-start 1/ span 1;
  height: 700px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.20);
  overflow: hidden;
  background-color: #87a3ec;
  display: inline-block;
  overflow-y: scroll;

}


.discussions .discussion {
  width: 100%;
  height: 90px;
  background-color: #FAFAFA;
  border-bottom: solid 1px #E0E0E0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.discussions .search {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E0E0E0;
}


.discussions .search .searchbar {
  height: 40px;
  background-color: #FFF;
  width: 70%;
  padding: 0 20px;
  border-radius: 50px;
  border: 1px solid #EEEEEE;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.discussions .search .searchbar input {
  margin-left: 15px;
  height: 38px;
  width: 100%;
  border: none;
}

/* .discussions .search .searchbar *::-webkit-input-placeholder {
    color: #E0E0E0;
}
.discussions .search .searchbar input *:-moz-placeholder {
    color: #E0E0E0;
}
.discussions .search .searchbar input *::-moz-placeholder {
    color: #E0E0E0;
}
.discussions .search .searchbar input *:-ms-input-placeholder {
    color: #E0E0E0;
} */


.desc-contact {
  height: 43px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.discussions .discussion .name {
  margin: 0 0 0 20px;
  font-family:'Montserrat', sans-serif;
  font-size: 11pt;
  color:#515151;
}


.chat {
  width: calc(75% - 85px);
  z-index: 2;
  padding:0;
  background-color: #FFF; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 700px;
  grid-column: col-start 2/ span 4;
}
.header-chat {
  background-color: #FFF;
  height: 90px;
  box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
  display:flex;
  align-items: center;
}

/* .chat .header-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-size: 13pt;
  color:#515151;
} */

 .chat .messages-chat {
  padding: 25px 35px;
}

.chat .messages-chat .message {
  display:flex;
  align-items: center;
  margin-bottom: 8px;
} 

.chat .messages-chat .text {
  margin: 0 35px;
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 12px;
}


.text-only {
  margin-left: 45px;
}

.response {
  float: right;
  margin-right: 0px !important;
  margin-left:auto; /* flexbox alignment rule */
}

.response .text {
  background-color: #e3effd !important;
}


.footer-chat {
  width: calc(57% - 60px);
  height: 90px;
  display:flex;
  align-items: center;
  position:absolute;
  bottom: 0;
  background-color: transparent;
  border-top: 2px solid #EEE;
}

.write-message {
  border:none !important;
  width:100%;
  height: 50px;
  margin-left: 0px;
  padding: 10px;
}


.send-button{
  color:#fff;
  background-color: #A266B5;
  position: absolute;
  right:70px;
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
  font-size: 14pt; 
}


/* .footer-chat *::-webkit-input-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}
.footer-chat input *:-moz-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}
.footer-chat input *::-moz-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
  margin-left:5px;
}
.footer-chat input *:-ms-input-placeholder {
  color: #C0C0C0;
  font-size: 13pt;
}

.clickable {
  cursor: pointer;
} */


/* NEED TO CLEAN UP THIS CSS */

/* EACH-PATIENT-PROFILE */

.profile-image-patient {
  height: 250px;
  width: 250px;
  object-fit: cover;
  margin-top: 50px;
  margin-left: 90px;
  position: relative;
}


/* .all-info-about-patient{
  position: absolute; 
  top: 130px; 
  left: 700px;
} */


.main-info-patient {
  position: absolute;
  top: 180px;
  left: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-info-patient #name {
  font-size: 30px;
  color: black;
}


.main-info-patient #age {
  font-size: 20px;
  color: black;
}

.main-info-patient #gender {
  font-size: 20px;
  color: black;
}

.main-info-patient #DOB {
  font-size: 15px;
  color: black;
}


.phone-call {
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.mail-to {
  display: flex;
  align-items: center;
}


.mail-to #icon-mail {
  margin-right: 100px;
}

#each-illness {
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
  height: 30px;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  background-color: #F5ECF7;
  color: #A266B5;
  margin-left: 15px;
  box-shadow: 0 1px 2px rgba(101, 100, 100, 0.6);
}


.all-illnesses {
  position: absolute;
  top: 450px;
  left: 560px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

#ilness-h2 {
  position: absolute;
  top: 430px;
  left: 575px;
  color: black;
  font-weight: 500;
  font-size: 17px;
}

.appointments-container {
  height: 300px;
  width: 300px;
  background-color: white;
  box-shadow: 0 7px 15px rgba(0, 0, 0, .6);
  border-radius: 10%;
  margin-left: 1100px;
  margin-top: -270px;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  position: relative;
  z-index: 2;
}

::-webkit-scrollbar {
  display: none;
}





#heading-appointments {
  position: absolute;
  top: 20px;
  left: 35px;
  color: #1F4F5B;
  font-weight: 600;
  font-size: 20px;
}


.each-appointment.empty {
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  background-color: #F0F6FC;
  margin-left: 20px;
  /* margin-top: 30px; */
  box-shadow: 0 2px 5px rgba(101, 100, 100, 0.6);
  display: flex;
}


.each-appointment {
  height: 100px;
  margin-left: 30px;
  margin-top: 15px;
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #F0F6FC;
  box-shadow: 0 2px 5px rgba(101, 100, 100, 0.6);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  position: relative;
}

#appointment-date {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}


.all-appointments {
  margin-top: 45px;
}

.medication-container {
  height: 300px;
  width: 300px;
  background-color: white;
  box-shadow: 0 7px 15px rgba(0, 0, 0, .6);
  border-radius: 10%;
  flex-direction: column;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  margin-left: 1100px;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

::-webkit-scrollbar {
  display: none;
}


.medication-container h2 {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}



.each-medication-container {
  margin-left: 30px;
  color: #D7B765;
  background-color: #FBF9F1;
  width: 70px;
  height: 70px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

/* .each-medication-container img{
  width:40px;
  } */


#appointment-date {
  color: #1F4F5B;
  font-weight: bold;
  font-size: 18px;
}


#appointment-time {
  font-size: 17px;
  display: flex;
  margin-top: 35px;
  align-items: center;
  margin-left: -60px;
}

.time-of-appointment {
  display: flex;
  flex-direction: column;
}

/* EACH PATIENT PROFILE FINISH */