html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}


.chat-box{
grid-column: col-start 3/ span 1;
grid-row: col-start 3/ span 2;
justify-self: center;
align-self: center;
/* position: fixed; */
}